/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-main-blue: #81B3D2;
  --basic-dark-grey: #333333;
  --basic-blue: #23A9E1;
  --basic-light-blue: 81B3D3;
  --basic-dark-brown: #491213;
  --basic-brown: #766357;
  --basic-light-brown: #766458;
  --basic-button-brown: #604E43;
  --basic-dark-orange: #DC6243;
  --basic-grey: #EEEEEE;
  --basic-dark-white: #F2F2F2;
  --basic-light-orange: #F49774;
  --basic-ligth-pink: #F4B1A4;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);

}

/* Big Page */

.page-body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: #f2f2f2;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.top-background-images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../img/background-photo.jpg");
  background-size: 1200px 725px;
  min-height: 100%;
  padding: 35px 372px 81px 372px;
  box-sizing: border-box;
  padding-top: 77px;
  padding-bottom: 81px;

}



a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid*/

.page {
  height: 100%;
}
/* Общая страница */

/*Main Header*/

.main-header {
  margin-bottom: 77px;

}

/*Header*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1200px;


  margin: 0 auto;
  padding: 0;
}

.main-header {
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;

}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 550px;
}

.site-navigation li:nth-child(2) {
  padding-right: 133px;
}

.site-navigation li:nth-child(3) {
  padding-left: 147px;
}


.site-navigation a:not([href]) {

}


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  display: block;
  text-decoration: none;
  padding-right: 70px;
  padding-left: 70px;
  font-weight: 700;
  cursor: pointer;
}

.site-navigation a:hover
.site-navigation a:focus {
  background-color: var(--basic-white);
}

.site-navigation a:hover {
  color: var(--basic-main-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:visited {
  color: var( --basic-brown);
}

/*Main page*/

.index-main{
 display: grid;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow:0 30px 10px #dbdbdb;
  background-color: var(--basic-white);

}

/* Reasons */

ul {
list-style: none;
}




.benefit {
   display: flex;
   justify-content: flex-start;
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: var(--basic-main-blue);
}

.benefit-content {
  text-align: center;
  width: 400px;
  padding-top: 47px;
}

.benefit-content h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.benefit-content span {
  color: var(--basic-white);
}

.benefit-content p {
  color: var(--basic-white);
}

.benefit--right {
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 0;
}


.benefit-image {
  width: 800px;
  margin-bottom: 0;
  line-height: 0;
}

.advantages {
  justify-self: center;
  margin-bottom: 80px;

}

.advantages-list {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;
   column-gap: 120px;
   margin: 0;
   padding: 0;
   list-style: none;
   background-color: var(--basic-white);
}

.advantages-item {

}

.advantages-item h3{
  text-align: center;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-item {

}

.advantages-item span {
  text-align: center;
  margin-bottom: 25px;

}

.advantages-item p {
  text-align: center;
  margin: 0 10px;

}

.icon-house {
  width: 75px;
    height: 72px;
    margin: 0 auto;
    margin-top: 61px;
}

.icon-food{
  width: 74px;
    height: 70px;
    margin: 0 auto;
    margin-top: 61px;
}

.icon-gift{
  width: 64px;
    height: 76px;
    margin: 0 auto;
    margin-top: 56px;
}

.favors {
  background-color: var(--basic-grey);

}

.favors-list {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;

   margin: 0;
   padding: 0;
   list-style: none;
   color: var(--basic-black);
}

.favors-item {
  margin-top: 47px;
  margin-bottom: 54px;
  text-align: center;

}




.favors-item h3{

  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.favors-item span{

}

.favors-item p {


}

.reasons-promo::before {
   content: "";
   width: 1200px;
   height: 57px;
   background: url(../img/mask-triangles.svg/);
   position: absolute;
   top: -57px;
   left: -358px;

}

.reasons-promo {
    justify-self: center;
    list-style: none;
    background: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 56px;
    padding-bottom: 51px;
    position: relative;

}

.reasons-promo h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 21px;

}

.reasons-promo p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.interested {
  background-color: var(--basic-white);
  text-align: center;
  padding-top: 58px;

}

.interested h2{
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.interested p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button{
  display: block;
  width: 568px;
  margin: 0 auto;
  color: var(--basic-white);
  padding: 30px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;

}

.search-button:hover {
  background-color: var(--basic-brown);
}

.search-button:hover,
.search-button:focus {
  background-color: var(--basic-button-brown);
}

.search-button:active {
  background-color: #503E33;
  color: var(--basic-white);
}

.search-button span:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.map {
   width: 100%;

}

/*Footer*/

.index-footer {
  margin-top: -170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 23px;
  padding-bottom: 36px;
  align-items: center;

}

.contacts {
  width: 200px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 136px;
  color: var(--basic-black);
  text-align: center;
  cursor: pointer;
}

.contacts-title {

}

.contacts a {
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}



.footer-social {
  width: 150px;
  justify-self: center;
  list-style: none;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  width: 150px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  list-style: none;
  background-color: var(--basic-main-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: #669EC0;
}

.social-button:active {
  background-color: #5496BD;
}


.social-button:active path {
  fill: var(--basic-white);
  opacity: 0.3;
}


.developer {
  max-width: 205px;
  margin: 0;
  justify-self: center;
}

.developer p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.developer .academy {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 113px;
    height: 40px;
    background-position: -10px -8px;
}

.developer img:hover,
.developer img:focus {
  color: var(--basic-main-blue);
}

.developer img:active {
  color: var(--basic-grey);
}

.academy-logo path:hover,
.academy-logo path:focus {
  fill: var(--basic-main-blue);
}

academy-logo path:active {
  fill: var(--basic-grey);
}


/*catalog.html*/

.index-main {


}


.filter {
    width: 100%;
    color: var(--basic-white);


}

.check{

}

.filter-menu {
  background: url("../img/catalog-background.jpg") no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 32px;
}

.filter-menu ul {

}


.form-legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    padding-left: 72px;
    color: var(--basic-white);
}


.filter-list {
  padding-left: 72px;

}

.filter-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



.form-input {

}

.price {
 width: 317px;
 padding-top: 26px;
 padding-left: 197px;
 margin-right: 72px;

}


.min-price {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.max-price {
  color: var(--basic-white);
}

.show-button {
  text-decoration: none;
  color: var(--basic-white);
  border: none;
  margin: 32px auto 33px;
  padding: 6px 33px;
  line-height: 20px;
}

.results {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 2fr;
 justify-content: center;
 background-color: var(--bacis-white);
 padding-left: 73px;
 padding-top: 30px;
 padding-bottom: 30px;
 color: var(--basic-black);
}


.match {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  padding: 0;
}


.sort-list ul {
  margin: 0;
  padding: 0;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
}

.sort-link .current {
  color: var(--basic-main-blue);
}

.buttons-wrapper {

}


.sorting-buttons {
  text-decoration: none;
  border: none;
  text-align: right;
  vertical-align: top;
}

.view-result {

}

.housing {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.housing-list{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;

}

.housing-list ul {
  margin: 0;
  padding: 0;
}
.housing-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;


}

.hotel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.hotel-container img {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 135px;
  height: 90px;

}



.hotel-title {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding: 0;
  margin: 0;

}

.hotel-container h3 {

}

.hotel-container p {

}

.hotel-type {
  grid-column-start: 2;
  grid-column-end: 3;
  color: var(--basic-black);
  padding: 0;
  margin: 0;

}

.buttons-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;


}

.hotel-container .more-btn {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-decoration: none;
    color: var(--basic-white);
    background-color: var(--basic-main-blue);
    border: none;
  }

.hotel-container .reserve-btn {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-decoration: none;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    border: none;
  }


.rating{
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: end;

}

.rating-text {
  color: var(--basic-grey);
}

.stars {

}

.icon-stars {

}
