/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-main-blue: #81B3D2;
  --basic-dark-grey: #333333;
  --basic-blue: #23A9E1;
  --basic-light-blue: 81B3D3;
  --basic-dark-brown: #491213;
  --basic-brown: #766357;
  --basic-light-brown: #766458;
  --basic-dark-orange: #DC6243;
  --basic-grey: #EEEEEE;
  --basic-dark-white: #F2F2F2;
  --basic-light-orange: #F49774;
  --basic-ligth-pink: #F4B1A4;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);

}

/* Big Page */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Grid*/

.page {
  height: 100%;
}
/* Общая страница */

/*Main Header*/

.main-header {
  margin-bottom: 77px;

}

/*Header*/

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;

}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns:  1fr 1fr 2fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo{
  justify-self: center;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a:not([href]) {
  background-color: var(--basic-white);
}


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-main-blue);
}
/*Main page*/

.index-main{
 display: grid;
}

/* Reasons */

ul {
list-style: none;
}

.top-background-images{
  justify-self: center;
  margin-bottom: 81px;
}

.reasons-promo {
    justify-self: center;
    list-style: none;
    background: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


.benefit {
   display: grid;
   grid-template-columns:  2fr 4fr;
   min-width: 1200px;
   list-style: none;
   background-color: var(--basic-main-blue);
}

.benefit-content {
  text-align: center;
}

.benefit-content h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);

}

.benefit-content span {
  color: var(--basic-white);

}

.benefit-content p {
  color: var(--basic-white);

}

.benefit-image .benefit--right {
  width: 800px;
  height: 256px;
  margin: 0;

}


.benefit-image {
  width: 800px;
  height: 256px;
  margin: 0;

}

.advantages {
  justify-self: center;
  margin-top: 80px;
  height: 330px;
}

.advantages-list {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;
   column-gap: 120px;
   margin: 0;
   padding: 0;
   list-style: none;
   background-color: var(--basic-white);
}

.advantages-item h3{
  text-align: center;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-item span {
  text-align: center;
  margin-bottom: 25px;

}

.advantages-item p {
  text-align: center;
  margin: 0 10px;

}

.icon-house{


}

.icon-food{


}

.icon-gift{


}

.favors {
  min-width: 1200px;
  height: 256px;
  background-color: var(--basic-grey);
}

.favors-list {
   display: grid;
   grid-template-columns:  1fr 1fr 1fr;
   column-gap: 150px;
   margin: 0;
   padding: 0;
   list-style: none;
   color: var(--basic-black);
}

.favors-item h3{
  text-align: center;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.favors-item span {
  text-align: center;

}

.favors-item p {
  text-align: center;

}

.reasons-promo h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.reasons-promo p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.interested {
  min-width: 100%;
  height: 291px;
  background-color: var(--basic-white);
  text-align: center;
}

.interested h2{
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.interested p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-button{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-brown);

}

.map {
   height: 593px;
   width: 100%;

}

/*Footer*/

.index-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
  margin-top: 23px;
  background-color: var(--basic-white)
  outline: 5px solid rgba(255, 0, 0, 0.7);

}

.contacts {
  margin-left: 200px;
  width: 320px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black)
}

.footer-social {
  width: 150px;
  justify-self: center;
  list-style: none;
  text-align: center;
}

.social-button {
  list-style: none;
  background-color: var(--basic-main-blue);
}

.icon-twitter{
  background-color: var(--basic-white)
}

.icon-facebook {
  background-color: var(--basic-white)
}

.icon-youtube {
  background-color: var(--basic-white)
}

.developer {
  max-width: 205px;
  margin: 0;
  justify-self: center;
}

.developer p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.developer academy {

}
